Using SMART refresh_token fails with error hint "Check the `client_id` parameter"

When trying to refresh a token using the smart-on-fhir/client-js library, I get the following error:

```
[Wed Jan 24 14:59:10.591523 2024] [php:notice] [pid 4899] [client 192.168.65.1:22431] [2024-01-24T08:59:10.591497-06:00]
OpenEMR.DEBUG: AuthorizationController->oauthAuthorizeToken() OAuthServerException occurred 
{"hint":"Check the `client_id` parameter",
"message":"The request is missing a required parameter, includes an invalid parameter value, includes a parameter more than once, or is otherwise malformed.",
"stack":"
#0 /var/www/localhost/htdocs/openemr/vendor/league/oauth2-server/src/Grant/AbstractGrant.php(260): League\\\\OAuth2\\\\Server\\\\Exception\\\\OAuthServerException::invalidRequest()\\n
#1 /var/www/localhost/htdocs/openemr/vendor/league/oauth2-server/src/Grant/AbstractGrant.php(194): League\\\\OAuth2\\\\Server\\\\Grant\\\\AbstractGrant-&gt;getClientCredentials()\\n
#2 /var/www/localhost/htdocs/openemr/src/Common/Auth/OpenIDConnect/Grant/CustomRefreshTokenGrant.php(149): League\\\\OAuth2\\\\Server\\\\Grant\\\\AbstractGrant-&gt;validateClient()\\n
#3 /var/www/localhost/htdocs/openemr/src/Common/Auth/OpenIDConnect/Grant/CustomRefreshTokenGrant.php(48): OpenEMR\\\\Common\\\\Auth\\\\OpenIDConnect\\\\Grant\\\\CustomRefreshTokenGrant-&gt;validateClient()\\n
#4 /var/www/localhost/htdocs/openemr/vendor/league/oauth2-server/src/AuthorizationServer.php(201): OpenEMR\\\\Common\\\\Auth\\\\OpenIDConnect\\\\Grant\\\\CustomRefreshTokenGrant-&gt;respondToAccessTokenRequest()\\n
#5 /var/www/localhost/htdocs/openemr/src/RestControllers/AuthorizationController.php(1166): League\\\\OAuth2\\\\Server\\\\AuthorizationServer-&gt;respondToAccessTokenRequest()\\n
#6 /var/www/localhost/htdocs/openemr/oauth2/authorize.php(73): OpenEMR\\\\RestControllers\\\\AuthorizationController-&gt;oauthAuthorizeToken()\\n#7 {main}"} [], 
```

The error indicates that the `client_id` is missing from the request.  In fact, when I replay the `/oauth2/default/token` with `&client_id=` added to the request (`--data-raw 'grant_type=refresh_token&refresh_token=def502...&client_id=...`), the request succeeds with a new access/refresh tokens. 🎉 . 

However, the client_id is not supposed to be required for grant_type refresh_token.  Here's the request options for the [calling function](https://github.com/smart-on-fhir/client-js/blob/8f64b770dbcd0abd30646e239cd446dfa4d831f6/src/Client.ts#L1052) from the SMART-on-FHIR library.

 ```typescript
            const refreshRequestOptions = {
                credentials: this.environment.options.refreshTokenWithCredentials || "same-origin",
                ...requestOptions,
                method : "POST",
                mode   : "cors" as RequestMode,
                headers: {
                    ...(requestOptions.headers || {}),
                    "content-type": "application/x-www-form-urlencoded"
                },
                body: `grant_type=refresh_token&refresh_token=${encodeURIComponent(refreshToken)}`
            };
```
Note the lack of client_id in the form-encoded body.

OpenEMR should accept and process the refresh_token request without requiring client_id.

@adunsulag  @sjpadgett  I read through the code looking for an easy fix, and reviewed the related closed issues, which were soul crushing ☹️.  Auth sucks. Thanks for everything you did to get this far.

`oauthAuthorizeToken()` seems to make it through `$server = $this->getAuthorizationServer();` in this code.  I expected to see more `grantType` checks than are here, and it confuses me that the `respondToAccessTokenRequest` function is being pulled from `CustomRefreshTokenGrant` even for none refresh requests.

```php
        $server = $this->getAuthorizationServer();
        try {
            if (($this->grantType === 'authorization_code') && empty($_SESSION['csrf'])) {
                // the saved session was not populated as expected
                $this->logger->error("AuthorizationController->oauthAuthorizeToken() CSRF check failed");
                throw new OAuthServerException('Bad request', 0, 'invalid_request', 400);
            }
            $result = $server->respondToAccessTokenRequest($request, $response);
            // save a password trusted user
            if ($this->grantType === self::GRANT_TYPE_PASSWORD) {
                $this->saveTrustedUserForPasswordGrant($result);
            }
            SessionUtil::oauthSessionCookieDestroy();
            $this->emitResponse($result);
        } catch (OAuthServerException $exception) {
```

Do you know where the client_id check would be embedded in this?  Is there anything else obvious to fix here?  Happy to work on a PR with guidance.

@mi3guyc

@robertjustjones  I went and reviewed RFC rfc6749 to make sure what @robertjustjones is saying is correct.  It does look like client_id is not required for the refresh_token grant. 
 https://datatracker.ietf.org/doc/html/rfc6749#section-6

Looking at the code, the flow goes as follows:
CustomRefreshTokenGrant->respondToAccessTokenRequest
=> CustomRefreshTokenGrant->validateClient()
=> League\OAuth2\Server\Grant\AbstractGrant->validateClient()
=> League\OAuth2\Server\Grant\AbstractGrant->getClientCredentials()

In the getClientCredentials() Line 255 it attempts to retrieve the Basic Auth Credentials for confidential clients.  It then attempts to grab the client_id from the query with the auth header credentials being used as the default value.  Line 260 is where the error you are hitting is triggered.  

The error should only happen if you are not passing the confidential client authorization headers properly which is what I'm guessing is happening here.

Note we do not allow refresh tokens to occur unless its a confidential client.

@robertjustjones Please confirm If you are passing the authorization headers correctly and the client_id is still being required.  If so, that would be a bug in our implementation (really a bug in the league OAuth2 server implementation which we can fix by overriding some of the methods in our CustomRefreshTokenGrant).

Also for your information the various OAuth2 Grants follow the Strategy software design pattern.  The refresh token grant only gets added in AuthorizationController Line 618 if the grant type is 'refresh_token' so it shouldn't hit that class unless the grant is a refresh token grant.

> Also for your information the various OAuth2 Grants follow the Strategy software design pattern. The refresh token grant only gets added in AuthorizationController Line 618 if the grant type is 'refresh_token' so it shouldn't hit that class unless the grant is a refresh token grant.

👍 


> > Auth sucks
> 
> @robertjustjones Just as a matter of courtesy I'd never make such a public statement about another's developers code!

Forgive me, not my intention at all!!!! I was referring to the task/process/requirement, not the code. Sorry for the ambiguity.

> @robertjustjones Please confirm If you are passing the authorization headers correctly and the client_id is still being required. If so, that would be a bug in our implementation (really a bug in the league OAuth2 server implementation which we can fix by overriding some of the methods in our CustomRefreshTokenGrant).

I took a dev shortcut.  I need to move some code back to the server where it really is confidential. That probably does fix the issue. 

Was limiting refresh token an implementation choice or in the spec? if you know without looking.

So here's the [spec](https://hl7.org/fhir/smart-app-launch/app-launch.html#request-7) on refresh_token requests for public apps.

![Screenshot 2024-01-24 at 11 38 10 AM](https://github.com/openemr/openemr/assets/969390/a2762637-9786-447e-9d13-c03e8372d335)

And here's the [example](https://hl7.org/fhir/smart-app-launch/example-app-launch-public.html#refresh-access-token) linked below that.

![Screenshot 2024-01-24 at 11 39 46 AM](https://github.com/openemr/openemr/assets/969390/96dc7065-2b2e-4779-9757-6a0bd1e55e0c)

which has `client_id` even though the spec did not include it.

@robertjustjones 

> 2.3.2 [RFC6749](https://tools.ietf.org/html/rfc6749) requires that the authorization server maintain the binding between a refresh token and the client to whom it was issued, and that the authorization server verify that binding when the refresh token is presented. Because only confidential clients are capable of authenticating their own identity, **it is recommended that refresh tokens be issued only to confidential clients**. If the authorization server’s policy allows issuance of refresh tokens to public clients, then the authorization server should use some other means of protecting against misuse, such as issuing a new refresh token with every access-token refresh response and retaining the used refresh token. If a refresh token is compromised and subsequently used by both the attacker and the legitimate client, one of them will present an invalidated refresh token, which will inform the authorization server of the breach.

https://docs.smarthealthit.org/authorization/best-practices/

We chose to avoid issuing a refresh token instead of generating a new refresh token on every request in order to follow SMART on FHIR best practices.  Since we store refresh tokens to prevent JTI replay attacks we did not want to retain refresh tokens per request and its a computationally expensive operation to generate a refresh token anyways.

Another good section to read on this topic for those who are interested is the RFC 6819 Section 4.1.1 best practices document:
https://datatracker.ietf.org/doc/html/rfc6819#section-4.1.1

Thanks for those.

So I've reworked to use a Public client_id for the auth that I'm doing. I'm still able to get a refresh_token and, if I modify the request to add the client_id by hand, I get a new access_token. I'm also getting a new refresh_token. So it looks like you've implemented the refresh_token rotation. 

If I replay the request, it comes back invalid so apparently you are also remembering the old refresh_token and erroring appropriately.
```json
{"error":"invalid_request","error_description":"The refresh token is invalid.","hint":"Token has been revoked","message":"The refresh token is invalid."}
```

I think the only thing needed here is to drop the client_id check. I'll go track down the code you pointed out above to try to find it. 


So here's League\OAuth2's [doc](https://oauth2.thephpleague.com/authorization-server/refresh-token-grant/)
![Screenshot 2024-01-24 at 6 03 44 PM](https://github.com/openemr/openemr/assets/969390/84db5bea-587b-4b57-a3e1-bce984b2141f)


And here's the OAuth2 [spec](https://datatracker.ietf.org/doc/html/rfc6749#page-47)
![Screenshot 2024-01-24 at 6 04 19 PM](https://github.com/openemr/openemr/assets/969390/83344109-55ef-4064-b830-9f3fc49cb1de)

So the League lib implements client_id as required (confirmed looking at the code), even though the spec does not require it. The client_secret is only checked for Confidential clients.

So the SMART-on-FHIR library is correct per the spec and won't change. How tough do you think it would be to get the League lib changed?  Or we could pull more into Custom and bypass it?  Or is the client_id stored with the RefreshToken so that it could be jammed into the request if missing?


Updating the team, I'm pursuing a "custom" refresh function in my smart code derived from [here](https://github.com/smart-on-fhir/client-js/blob/8f64b770dbcd0abd30646e239cd446dfa4d831f6/src/Client.ts#L1021) in the [reference client](https://github.com/smart-on-fhir/client-js) that adds the client_id for refresh_token request. That solves my need but doesn't help the community, other than showing the path. 

Leave this open or close it?